<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Personal CSS -->
    <link href="../../public/assets/css/burger_style.css" rel="stylesheet">

    <!-- Bootstrap JS -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <title>Pop's Burgers</title>
</head>
<body>

    {{{ body }}}
    
 <script type="text/javascript">
    // Make sure we wait to attach our handlers until the DOM is fully loaded.
    $(function() {
        $(".devour-burger").on("click", function(event) {
            var id = $(this).data("id");
            var newSleep = $(this).data("newsleep");

            var newSleepState = {
            sleepy: newSleep
            };

            // Send the PUT request.
            $.ajax("/api/cats/" + id, {
            type: "PUT",
            data: newSleepState
            }).then(
            function() {
                console.log("changed sleep to", newSleep);
                // Reload the page to get the updated list
                location.reload();
            }
            );
        });

        $(".create-form").on("submit", function(event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            var newCat = {
            name: $("#ca").val().trim(),
            sleepy: $("[name=sleepy]:checked").val().trim()
            };

            // Send the POST request.
            $.ajax("/api/cats", {
            type: "POST",
            data: newCat
            }).then(
            function() {
                console.log("created new cat");
                // Reload the page to get the updated list
                location.reload();
            }
            );
        });

        $(".delete-cat").on("click", function(event) {
            var id = $(this).data("id");

            // Send the DELETE request.
            $.ajax("/api/cats/" + id, {
            type: "DELETE"
            }).then(
            function() {
                console.log("deleted cat", id);
                // Reload the page to get the updated list
                location.reload();
            }
            );
        });
    });

 </script>
</body>
</html>