<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Personal CSS -->
    <link href="../../public/assets/css/burger_style.css" rel="stylesheet">

    <!-- Bootstrap JS -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <title>Pop's Burgers</title>
</head>
<body>

    {{{ body }}}
    
 <script type="text/javascript">

    // Make sure we wait to attach our handlers until the DOM is fully loaded.
    $(function() {

        $(".devour-burger").on("click", function(event) {

            //problem located here: request in controller is coming back empty!

            event.preventDefault();

            var id = $(this).data("id");

            var newDevoured = $(this).data("newDevoured");

            var newDevouredState = {

                devoured: newDevoured
            };

            console.log("this is the new id: " + id);

            console.log("this is the new state of devour: " + newDevouredState.devoured);

            debugger;

            // Send the PUT request.
            $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newDevouredState
            }).then(
            function() {

                console.log("changed 'eat state' to", newDevoured);
                // Reload the page to get the updated list

                
                //TRY TO FIX SO THE PAGE DOESN"T NEED TO RELOAD!!!
                location.reload();
            }
            );
        });

        $(".create-form").on("submit", function(event) {

            event.preventDefault();

            var newBurger = {
                burger_name: $("#ca").val().trim()
            }

            // Send the POST request.
            $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
            }).then(
            function() {
                console.log("freshly pressed a new burger, yum!");
                // Reload the page to get the updated list

                //TRY TO PREVENT PAGE RELOAD!
                location.reload();
            });
        });
    });

 </script>
</body>
</html>

<!-- UNRESOLVED ISSUES -->

<!-- 1) buttons don't work properly 2) issue with POST/GET/PUT methods -->