<h1 class="jumbotron text-center bg-info">Welcome to Bob's Burgers</h1>

<div class="container container-flex allContent">

  <div class="row">

    <div class="col-md-5 info eatPanel">

      <h2 class="font-italic headerText">What's On The Menu</h2>

      <ul>

        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/unless}}
        {{/each}}

      </ul>

    </div>

    <div class="col"></div> 

    <div class="col-md-5 info eatPanel">

      <h2 class="font-italic headerText">Your Table</h2>

      <ul>

        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/if}}
        {{/each}}
      </ul>

    </div> 

  </div>

  <div class="row" id="formRow">

    <div class="mx-auto info">

      <h2 class="font-italic headerText">Custom Order</h2>

      <form class="create-form">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="burger_name">
        </div>
        <button type="submit">Place your order!</button>
      </form>
      
    </div>


  </div>

</div>
