<li>
	{{burger_name}}

	<button class="devour-burger" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#unless devoured}} Devour it!{{/unless}}
        <!--might need to be "if" -->
	</button>
</li>